extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Locations
  p.tab
    a(href='locations') Resource localization
    br
    a(href='reports/locations') Reports

  h2 Events
  p.tab
    a(href='events') Resource localization
    br
    a(href='reports/events') Reports

  h2 Interactions
  p.tab
    a(href='interactions') Resource localization
    br
    a(href='reports/interactions') Reports
