@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
  padding: 50px;
  font: 14px georgia, serif, sans-serif;
  background-color: #e5e5e5;
  color: #333;
}

hr {
  border: 0;
  height: 1px;
  background-color: #444;
}

p.tab {
  padding-left: 50px;
}

a:link {
  color: #0077ff;
  text-decoration: none;
}

a:visited {
  color: #c00;
  text-decoration: none;
}

a:hover {
  color: #007700;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.selectedlocation {
  background-color: #e2f8e2;
}

.location {
  margin-bottom: 7px;
  padding: 7px;
  border: 1px solid black;
}

.location h3 {
  font-weight: bold;
  font-size: 1.25em;
  color: #222;
}