@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
  padding: 50px;
  font: 14px 'Bree Serif', serif, sans-serif;
  background-color: #e5e5e5;
}

p.tab {
  padding-left: 50px;
}

a:link {
  color: #0077ff;
  text-decoration: none;
}

a:visited {
  color: #c00;
  text-decoration: none;
}

a:hover {
  color: #007700;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
